body {
    margin: 0;
    padding: 0;
    background-color: rgb(22, 22, 22);
}

.activa li{
    color: rgba(255, 166, 41, 1);
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 50px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}

.sub-titulos{
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.5);
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

h2{
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
}

h3{
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    margin: 0;
    padding: 0;
}

h4{   
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

h5{   
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.fecha{
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.247);
    margin: 0;
    padding: 0;
}

.boton-principal {
    background-color: rgba(255, 166, 41, 1);
    padding: 10px 20px;
    border-radius: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    display: inline-block; 
    text-transform: uppercase;
    margin: 0;
}

.boton-principal a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.boton-principal:hover {
    background-color: white;
}

.boton-principal a:hover {
    color: rgba(255, 166, 41, 1);
}

.titulo-seccion{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    margin: 30px 20px 30px;
    align-items: left;
    border-bottom: 1px solid rgba(255, 166, 41, 1);
}

.boton-secundario {
    display: inline-block; 
    background: none;
    border: none;
    color: rgba(255, 166, 41, 1);
    cursor: pointer; 
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
}

.boton-secundario:hover {
    color: white;
}

.etiqueta{
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    color: rgba(255, 166, 41, 1);
    display: inline-block; 
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid rgba(255, 166, 41, 1);
}
/*Menu de navegación*/
header {
    display: flex;
    align-items: center;
    text-align: left;
    background-color: rgba(22, 22, 22, 1);
    align-items: center; 
    text-align: left;
    padding: 15px 20px;
    font-family: 'DM Sans', sans-serif;
    font-weight: medium;
}

.logo {
    width: 120px;
    height: auto;
    margin-right: 30px;
}

.nav-barra {
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-barra li {
    list-style-type: none;
    position: relative;
    font-size: 18px;
    margin-right: 30px;
}

.nav-barra li a {
    display: block;
    color: white;
    text-decoration: none;
}

.nav-barra li a:hover {
    color: rgba(232, 152, 39, 1);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(41, 41, 41);
    min-width: 160px;
    font-size: 16px;
    padding: 0 10px;
    z-index: 3; 
}

.dropdown-content a {
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
    display: block;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
}

.dropdown-content a:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

.dropdown-content a:hover {
    color: rgba(232, 152, 39, 1);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav-otros {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-left: 5px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    padding-left: 30px;
    height: 40px;
    align-self: center;
}

.nav-otros li {
    position: relative;
    font-size: 18px;
    margin-right: 10px;
}

.nav-otros li a {
    color: white;
    text-decoration: none;
}

.nav-otros li a:hover {
    color: rgba(232, 152, 39, 1);
}

.nav-otros li img {
    width: 20px;
    height: auto;
    align-items: center;
}

.nav-otros .dropdown-content {
    min-width: 120px;
    font-size: 16px;
    padding: 0 10px;
    z-index: 3; 
}

.barra-buscar {
    display: flex;
    align-items: center;
    background-color: rgba(62, 62, 62, 1);
    border-radius: 20px;
    border: 0.5px solid rgba(136, 136, 136, 1);
    padding: 10px 20px;
    margin-right: 20px;
}

.barra-buscar img {
    width: 20px;
    height: auto;
}

.barra-buscar input[type="text"] {
    border: none;
    outline: none;
    font-size: 15px;
    background-color: rgba(62, 62, 62, 1);
    color: white;
    padding-left: 10px;
}

.nav-otros .lista-seguimiento {
    display: flex;
    align-items: center; 
    margin-right: 30px;
}

.nav-otros .lista-seguimiento img {
    width: 15px;
    height: auto;
    margin-right: 10px;
}

.nav-otros .lista-seguimiento a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav-otros .lista-seguimiento a:hover {
    color: rgba(232, 152, 39, 1);
}

/*ENCABEZADO - CARRUSEL*/
.carousel {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 90vh;
    margin-bottom: 60px;
}
  
.slides {
display: flex;
transition: transform 1.5s ease;
}

.slide {
flex: 0 0 100%;
width: 100%;
height: 100%;
position: relative;
}

.slide img {
width: 100%;
height: 100%;
object-fit: cover;
}

.slide .text-overlay {
position: absolute;
top: 40%;
left: 30px;
color: white;
max-width: 50%;
}


/*PARA TI*/

.contenedor-parati {
    display: flex;
    margin: 0 20px;
    padding: 0;
}

/*NOTICIA DESTACADA*/
.not-mayor {
    position: relative;
    max-width: 80%;
}

.img-degrade {
    position: relative;
}

.img-degrade::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0) 50%);
    pointer-events: none;
}

.img-degrade img {
    width: 100%;
    height: auto;
    display: block;
}

.not-mayor .text-overlay {
    position: absolute;
    top: 0;
    color: white;
    margin: 0;
    padding: 0;
    margin: 10px;
    z-index: 1;
}

.cont-info{
    margin-left: 10px;
}

.not-mayor .etiqueta {
    margin-bottom: 220px;
}

.not-mayor .fecha{
    margin-top: 20px;
}

/*NOTICIAS LATERALES*/
.not-menores {
    margin-left: 20px;
    max-width: 30%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 38px 0;
}

.noticia {
    width: 100%;
    display: flex;
    position: relative;
}

.noticia .portada-noticia {
    width: 65%;
    position: relative;
}

.noticia .portada-noticia img {
    width: 100%;
    height: auto;
}

.noticia .text-overlay {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1;
}

.info-lateral {
    flex: 1;
    margin-left: 10px;
}

.noticia .fecha{
    position: absolute;
    bottom: 0;
}

/* ULTIMA NOTICIAS */
.conte-notUltimas {
    margin: 20px 20px;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 70px 70px;
}

.not-ultimas {
    display: block;
    max-width: 100%;
}

.not-ultimas .portada-noticia {
    position: relative;
}

.not-ultimas .portada-noticia img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.not-ultimas .text-overlay {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1;
}

.info-abajo {
    margin-top: 10px;
}

.not-ultimas .fecha {
    margin-top: 10px;
}

/* LISTA DE SEGUIMIENTO */
.cont-lista{
    width: 100%
}
.info-seguimiento {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-seguimiento img {
    margin: 20px 0;
    width: 20px;
    height: auto;
}

.info-seguimiento h4 {
    margin-bottom: 10px;
}

.info-seguimiento .subtitulo {
    margin-bottom: 20px;
}

/*ESTRENOS*/

.cont-estreno{
    margin: 30px 20px;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 70px 70px;
}

.not-estreno {
    display: flex;
    position: relative;
}

.not-estreno .portada-noticia {
    width: 50%;
    position: relative;
}

.not-estreno .portada-noticia img {
    width: 100%;
    height: auto;
}

.not-estreno .text-overlay {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1;
}

.not-estreno h4{
    font-size: 23px;
}

.not-estreno .info-lateral {
    flex: 1;
    margin-left: 10px;
}

.not-estreno .boton-secundario{
    position: absolute;
    bottom: 0;
    font-size: 16px;
}

.not-estreno .sub-titulos{
    margin: 15px 0;
    font-size: 16px;
}

/*ENTREVISTA*/
.contenedor-entrevista {
    margin: 0 20px;
}

.entrevista-mayor {
    margin: 0 10px;
    position: relative;
}

.entrevista-mayor .portada-noticia {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.entrevista-mayor .portada-noticia::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0) 50%);
    pointer-events: none;
}

.entrevista-mayor .portada-noticia img {
    width: 100%;
    height: auto;
    display: block;
}

.entrevista-mayor .text-overlay {
    position: absolute;
    bottom: 30px;
    left: 10px;
    z-index: 1;
}

.entrevista-mayor h1{
    font-size: 55px;
    margin-bottom: 20px;
}

.entrevista-mayor .sub-titulos{
    font-size: 20px;
    margin-bottom: 20px;
}

.entrevista-mayor .fecha{
    font-size: 16px;
    margin-top: 10px;
}

.entrevista-menor{
    margin: 50px 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, auto);
    gap: 0 50px;
}

.entrevista{
    padding: 0;
    margin: 0;
    display: block;
    max-width: 100%;
}

.entrevista img{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.entrevista .fecha {
    margin-top: 10px;
}